body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgba(76, 50, 130, 1) 54%, rgba(85, 57, 111, 1) 100%);
    color: white;
    font-family: Roboto;
}

.topnav {
    overflow: hidden;
    width: 100%;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 20px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    color: white;
  }



.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.4;
}

.join-button {
    background-color: white;
    border-color: rgb(65, 102, 212);
    border-style: solid;
    border-width: 1px;
    color: rgb(65, 102, 212);
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s,
        color 1s;
}

.join-button:hover {
    background-color: rgb(65, 102, 212);
    color: white;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: rgb(9, 158, 213);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}