.welcome {
    padding-top: 2em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;  
    overflow: hidden;  
}

.welcome::after {
    content: '';
    position: absolute;
    bottom: -20em;
    right: -10em;
    width: 50em;
    height: 50em;
    background: rgba(49, 4, 121, 0.5); 
    border-radius: 50%;
    filter: blur(70px);
    z-index: -1;
}

.about-me-text {
    margin-top: 0;
    color: rgb(54, 15, 54);
    font-size: 1.5em;
    width: 25em;
    text-align: left;
    padding: 1.5em;
    padding-left: 5em;
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: left;
}

.social-link {
    color: rgb(49, 4, 121);
    font-size: 2em;
    transition: color 0.3s ease;
}

.fa-github:hover {
    color: #000000;
}

.fa-linkedin:hover {
    color: #0A66C2;
}

.about-me-image {
    width: 30em;
    height: 30em; 
    margin-top: 5em;
    margin-right: 20em;
    object-fit: cover; 
    object-position: center 30%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.about-me-pfp {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 12em;
    top: 22em;
    transition: transform 0.3s ease;
}

.about-me-pfp:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1500px) {
    .about-me-image {
        width: 25vw;
        height: 25vw;
        margin-right: 10em;
    }
    
    .about-me-pfp {
        width: 20vw;
        height: 20vw;
        right: 5em;
    }
    .about-me-text {
        width: 30em;
        font-size: 1.2em;
        padding: 2em;
        margin-left: 2em;
        text-align: left;
    }
}

@media (max-width: 992px) {
    .about-me-image {
        width: 30vw;
        height: 30vw;
        margin-right: 5em;
        margin-top: 12em;
    }
    
    .about-me-pfp {
        width: 25vw;
        height: 25vw;
        right: 3em;
        top: 22em;
    }

    .about-me-text {
        width: 30em;
        font-size: 1.2em;
        padding: 2em;
        margin-left: 2em;
        text-align: left;
    }
}
@media (max-width: 768px) {
    .welcome {
        flex-direction: column;
        padding: 1em;
    }

    .about-me-text {
        width: auto;
        font-size: 1.2em;
        padding: 1em;
        margin-top: 0;
        text-align: center;
    }

    .social-icons {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .about-me-image,
    .about-me-pfp {
        display: none;
    }

    .welcome::after {
        width: 20em;
        height: 20em;
        bottom: -10em;
        right: -5em;
    }
}